<!DOCTYPE html>
<html ng-app="LoyaltyApp">
	<head>
		<title>Loyalty Service</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/angular-resource.min.js"></script>
		<script src="scripts/JsBarcode.code39.min.js"></script>
		<script src="scripts/loyalty.js">
			/* global LoyaltyController */
		</script>
	</head>
	<body>
		<div id="content" ng-controller="LoyaltyController">
			<h1>Loyalty Service</h1>
			<form action="#">
				<fieldset>
					<legend>Login</legend>
					<div class="flexiform">
						<div class="formlabels">
							<label>Email Address:</label>
						</div>
						<div class="formfields">
							<input type="text" id="email"/>
						</div>
					</div>
					<button type="button" ng-click="signIn()">Sign in</button>
				</fieldset>
				<fieldset>
					<legend>Your Details</legend>
					<div class="flexiform">
						<div class="formlabels">
							<label>Rewards ID:</label>
							<label>Name:</label>
						</div>
						<div class="formfields">
							<input type="text" id="customerId" ng-model="customer.id" disabled />
							<input type="text" id="customerName" ng-model="customer.name" disabled />
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>Create a Coupon</legend>
					<div class="flexiform">
						<div class="formlabels">
							<label>Available points:</label>
							<label>Points to use:</label>
							<label>Equivalent to $:</label>
						</div>
						<div class="formfields">
							<input type="text" id="available" ng-model="available" disabled />
							<input type="text" id="wanted" ng-model="coupon.points" ng-change="updateEquivalent()"/>
							<input type="text" id="equivalent" value="{{equivalent}}" disabled />
						</div>
					</div>
					<button type="button" ng-click="createCoupon()">Create coupon</button>
				</fieldset>
				<fieldset>
					<legend>Coupon</legend>
					<p>Present this barcode when you next make a purchase.</p>
					<img id="barcode" src="" alt=""/>
				</fieldset>
			</form>
			<p>{{messages}}</p>
		</div>
	</body>
</html>
